* {
    padding: 0px;
    margin: 0px;
}


/* ------------------------PC----------------- */
@media (min-width:1300px) {
    .slider_content {
        text-align: center;
        margin-bottom: 160px;
    }


    .btn {
        padding: 8px;
        color: white;
        border: 5px solid white;
    }

    .btn:hover {
        background-color: #bc8d4b;
        border: 5px solid #bc8d4b;
    }

    .heading {
        font-weight: bold;
    }

    .headings {
        font-weight: bold;
        font-size: 3rem;
        text-decoration: double;
        text-decoration: underline;
        margin: 1rem 0rem 1.6rem 0rem;
    }


    .section {
        background-color: #f4f4f4;
        height: auto;
        display: flex;
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }

    .child {
        height: auto;
        margin: 50px 0px 50px 0px;
    }

    .child1 {
        margin-left: 150px;
    }

    .child2 {
        margin-right: 150px;
    }





    /* ------------- ABOUT SECTION ------------ */

    .section_about {
        display: flex;
        justify-content: center;
        height: auto;
        /* padding: 50px; */
    }

    .about_inner {
        height: 25rem;
        width: 100%;
        margin: 5rem 0rem 3rem 5rem;
    }


    .about_image {
        height: 24rem;
        width: 18rem;
        position: absolute;
    }

    .about_image2 {
        height: 20rem;
        width: 28rem;
        padding: 3px;
        /* border: 5px solid rgb(244, 105, 54); */
    }



    .buttons {
        padding: 0.5rem;
        border: 0.2rem solid black;
        margin-top: 1rem;

    }




    /* ------home widge------------ */

    .home_widge {
        background-image: url(../images/bg.jpg);
        height: 26rem;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }


    .layer {
        position: relative;
        background: rgba(43, 40, 40, 0.2);
        height: 26rem;
        padding-bottom: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }



    .tym {
        margin: 8rem 0rem 0rem -16rem;
        justify-content: center;
        align-items: center;
    }



    .home_btn {
        margin: 16rem 0rem 0rem -10rem;
        padding: 0.5rem;
        border: 0.2rem solid rgb(255, 255, 255);
        background: transparent;
        color: white;
        font-weight: bold;

    }



    .section2 {
        display: flex;
        justify-content: space-around;
        height: auto;
        width: 85%;
    }

    .home_child img {
        height: 30rem;
        margin: 1rem 4rem 8rem -24rem;
        /* width: 60%; */
    }


    .home_child {
        margin-left: 1rem;
        align-items: center;

    }


    .home2 {
        height: 30rem;
        border: 0.3rem solid rgb(0, 0, 0);
        width: 70%;
        margin: 4.5rem 0rem 0rem 20rem;
    }


    .section3 {
        height: auto;
        width: 70%;
        display: flex;
        justify-content: space-around;
        margin: 5rem 0rem 5rem 0rem;
    }


    .circle img {
        height: 100%;
        width: 50%;
        margin: 0rem 0rem 5rem 10rem;
        border-radius: 50%;
    }




    /* --------------------ABOUT PAGE START ------------------------------ */
    /* --------------------------------------------------------------- */

    .about_page {
        text-align: center;
        padding-bottom: 200px;
    }

    .secction_history {
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }

    .history img {
        height: 20rem;
        width: 20rem;
        margin-bottom: 1rem;
    }





    .section_menu {
        height: auto;
        flex-wrap: wrap;
        margin: 4rem;
        flex-wrap: wrap;
    }

    .menu {
        color: white;
        text-align: center;
        margin-top: -40%;
    }

    .section_menu img {
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 1rem;
    }


    .contact {
        height: auto;
        margin: 1rem;

    }

    .contact img {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 4rem 0rem 2rem 0rem;
        height: 28rem;
    }


    .section_gallery {
        height: 100%;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .gallery {
        position: relative;
        padding: 10px 10px;
    }

    .gallery_content {
        position: absolute;
        display: none;
        top: 30%;
        left: 30%;
    }

    .gallery img {
        width: 100%;
    }

    .gallery:hover  {
        border: 0.1rem solid rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
    }

    .gallery:hover .gallery_content {
        padding: 5px;
        display: block;
       /* color: #bc8d4b; */
    }

    .map {
        margin: 4rem;
    }



    /* ---------footer--------- */
    .footer {
        height: auto;
        background-color: black;
        /* color: #000000; */
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
        color: #ffffff;
    }

    .copyright {
        text-align: center;
        padding: 0.6rem;
        background-color: #000000;
        color: white;
    }


}




/* ----------LAPTOP---------- */
@media ((min-width:1024px) and (max-width:1300px)) {
    .slider_content {
        text-align: center;
        margin-bottom: 160px;
    }


    .btn {
        padding: 8px;
        color: white;
        border: 5px solid white;
    }

    .btn:hover {
        background-color: #bc8d4b;
        border: 5px solid #bc8d4b;
    }

    .heading {
        font-weight: bold;
    }

    .headings {
        font-weight: bold;
        font-size: 3rem;
        text-decoration: double;
        text-decoration: underline;
        margin: 1rem 0rem 1.6rem 0rem;
    }


    .section {
        background-color: #f4f4f4;
        height: auto;
        display: flex;
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }

    .child {
        height: auto;
        margin: 50px 0px 50px 0px;
    }

    .child1 {
        margin-left: 150px;
    }

    .child2 {
        margin-right: 150px;
    }





    /* ------------- ABOUT SECTION ------------ */

    .section_about {
        display: flex;
        justify-content: center;
        height: auto;
        /* padding: 50px; */
    }

    .about_inner {
        height: 25rem;
        width: 100%;
        margin: 5rem 0rem 3rem 5rem;
    }


    .about_image {
        height: 24rem;
        width: 18rem;
        position: absolute;
    }

    .about_image2 {
        height: 20rem;
        width: 28rem;
        padding: 3px;
        /* border: 5px solid rgb(244, 105, 54); */
    }



    .buttons {
        padding: 0.5rem;
        border: 0.2rem solid black;
        margin-top: 1rem;

    }




    /* ------home widge------------ */

    .home_widge {
        background-image: url(../images/bg.jpg);
        height: 26rem;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }


    .layer {
        position: relative;
        /* background: rgba(0, 255, 4, 0.2); */
        background: rgba(43, 40, 40, 0.2);
        height: 26rem;
        padding-bottom: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }



    .tym {
        margin: 8rem 0rem 0rem -16rem;
        justify-content: center;
        align-items: center;
    }



    .home_btn {
        margin: 16rem 0rem 0rem -10rem;
        padding: 0.5rem;
        border: 0.2rem solid rgb(255, 255, 255);
        background: transparent;
        color: white;
        font-weight: bold;

    }



    .section2 {
        display: flex;
        justify-content: space-around;
        height: auto;
        width: 85%;
    }

    .home_child img {
        height: 30rem;
        margin: 1rem 4rem 8rem -24rem;
        /* width: 60%; */
    }


    .home_child {
        margin-left: 1rem;
        align-items: center;

    }


    .home2 {
        height: 30rem;
        border: 0.3rem solid rgb(0, 0, 0);
        width: 70%;
        margin: 4.5rem 0rem 0rem 20rem;
    }


    .section3 {
        height: auto;
        width: 70%;
        display: flex;
        justify-content: space-around;
        margin: 5rem 0rem 5rem 0rem;
    }


    .circle img {
        height: 100%;
        width: 50%;
        margin: 0rem 0rem 5rem 10rem;
        border-radius: 50%;
    }




    /* --------------------ABOUT PAGE START ------------------------------ */
    /* --------------------------------------------------------------- */

    .about_page {
        text-align: center;
        padding-bottom: 200px;
    }

    .secction_history {
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }

    .history img {
        height: 20rem;
        width: 20rem;
        margin-bottom: 1rem;
    }





    .section_menu {
        height: auto;
        flex-wrap: wrap;
        margin: 4rem;
        flex-wrap: wrap;
    }

    .menu {
        color: white;
        text-align: center;
        margin-top: -40%;
    }

    .section_menu img {
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 1rem;
    }


    .contact {
        height: auto;
        margin: 1rem;

    }

    .contact img {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 4rem 0rem 2rem 0rem;
        height: 28rem;
    }


   
    .section_gallery {
        height: 100%;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .gallery {
        position: relative;
        padding: 10px 10px;
    }

    .gallery_content {
        position: absolute;
        display: none;
        top: 30%;
        left: 30%;
    }

    .gallery img {
        width: 100%;
    }

    .gallery:hover  {
        border: 0.1rem solid rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
    }

    .gallery:hover .gallery_content {
        padding: 5px;
        display: block;
       /* color: #bc8d4b; */
    }

    .map {
        margin: 4rem;
    }



    /* ---------footer--------- */
    .footer {
        height: auto;
        background-color: black;
        /* color: #000000; */
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
        color: #ffffff;
    }

    .copyright {
        text-align: center;
        padding: 0.6rem;
        background-color: #000000;
        color: white;
    }


}



/* -------------Tablet LANDSCAPE------- */
@media ((min-width:768px) and (max-width:1024px)) {
    .slider_content {
        text-align: center;
        margin-bottom: 160px;
    }


    .btn {
        padding: 8px;
        color: white;
        border: 5px solid white;
    }

    .btn:hover {
        background-color: #bc8d4b;
        border: 5px solid #bc8d4b;
    }

    .heading {
        font-weight: bold;
    }

    .headings {
        font-weight: bold;
        font-size: 3rem;
        text-decoration: double;
        text-decoration: underline;
        margin: 1rem 0rem 1.6rem 0rem;
    }


    .section {
        background-color: #f4f4f4;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 1rem
    }

    .child {
        height: auto;
        margin: 50px 0px 50px 0px;
    }






    /* ------------- ABOUT SECTION ------------ */

    .section_about {
        display: flex;
        justify-content: center;
        height: auto;
    }

    .about_inner {
        height: auto;
        width: 100%;
        margin: 5rem 0rem 3rem 5rem;
    }


    .about_image {
        height: 24rem;
        width: 18rem;
        position: absolute;
    }

    .about_image2 {
        height: 100%;
        width: 100%;
        padding: 3px;
    }



    .buttons {
        padding: 0.5rem;
        border: 0.2rem solid black;
        margin-top: 1rem;

    }




    /* ------home widge------------ */

    .home_widge {
        background-image: url(../images/bg.jpg);
        height: 26rem;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }


    .layer {
        position: relative;
        /* background: rgba(0, 255, 4, 0.2); */
        background: rgba(43, 40, 40, 0.2);
        height: 26rem;
        padding-bottom: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }



    .tym {
        margin: 8rem 0rem 0rem -16rem;
        justify-content: center;
        align-items: center;
    }



    .home_btn {
        margin: 16rem 0rem 0rem -10rem;
        padding: 0.5rem;
        border: 0.2rem solid rgb(255, 255, 255);
        background: transparent;
        color: white;
        font-weight: bold;

    }



    .section2 {
        display: flex;
        justify-content: space-around;
        height: auto;
        width: 95%;
    }

    .home_child img {
        height: 30rem;
        margin: 1rem 4rem 8rem -24rem;
    }


    .home_child {
        margin-left: 1rem;
        align-items: center;

    }


    .home2 {
        height: 30rem;
        border: 0.3rem solid rgb(0, 0, 0);
        width: 100%;
        margin: 4.5rem 0rem 0rem 6rem;
    }


    .section3 {
        height: auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin: 5rem 0rem 5rem 0rem;
    }


    .circle img {
        height: 100%;
        width: 50%;
        margin: 0rem 0rem 5rem 5rem;
        border-radius: 50%;
    }




    /* --------------------ABOUT PAGE START ------------------------------ */
    /* --------------------------------------------------------------- */

    .about_page {
        text-align: center;
        padding-bottom: 200px;
    }

    .secction_history {
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        margin-top: 4rem;
    }

    .history img {
        height: 20rem;
        width: 20rem;
        margin-bottom: 1rem;
    }

    .history {
        margin-bottom: 2rem;
    }




    .section_menu {
        height: auto;
        flex-wrap: wrap;
        margin: 4rem;
        flex-wrap: wrap;
    }

    .menu {
        color: white;
        text-align: center;
        margin-top: -65%;
    }

    .section_menu img {
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 1rem;
    }


    .contact {
        height: auto;
        margin: 1rem;
        display: flex;
        justify-content: center;
        width: auto;
        flex-wrap: wrap;
    }

    .contact img {
        height: 100%;
        width: 100%;
        margin: 4rem 0rem 2rem 0rem;
        height: 28rem;
    }


    .section_gallery {
        height: 100%;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .gallery {
        position: relative;
        padding: 10px 10px;
    }

    .gallery_content {
        position: absolute;
        display: none;
        top: 30%;
        left: 30%;
    }

    .gallery img {
        width: 100%;
    }

    .gallery:hover  {
        border: 0.1rem solid rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
    }

    .gallery:hover .gallery_content {
        padding: 5px;
        display: block;
       /* color: #bc8d4b; */
    }

    .map {
        margin: 4rem;
    }



    /* ---------footer--------- */
    .footer {
        height: auto;
        background-color: black;
        /* color: #000000; */
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
        color: #ffffff;
    }

    .copyright {
        text-align: center;
        padding: 0.6rem;
        background-color: #000000;
        color: white;
    }


}



/* -----------Table------- */
@media ((min-width:500px) and (max-width:768px)) {
    .slider_content {
        text-align: center;
        margin-bottom: 160px;
    }


    .btn {
        padding: 8px;
        color: white;
        border: 5px solid white;
    }

    .btn:hover {
        background-color: #bc8d4b;
        border: 5px solid #bc8d4b;
    }

    .heading {
        font-weight: bold;
    }

    .headings {
        font-weight: bold;
        font-size: 3rem;
        text-decoration: double;
        text-decoration: underline;
        margin: 1rem 0rem 1.6rem 0rem;
    }


    .section {
        background-color: #f4f4f4;
        height: auto;
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }

    .child {
        height: auto;
        margin: 50px 0px 50px 0px;
    }






    /* ------------- ABOUT SECTION ------------ */

    .section_about {
        display: flex;
        justify-content: center;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 6rem;
    }

    .about_inner {
        height: auto;
        width: 100%;
        margin: 2rem 0rem 5rem 0rem;
    }


    .about_image {
        height: 30%;
        width: 60%;
        position: absolute;
        margin: 100px;
    }

    .about_image2 {
        height: 70%;
        width: 70%;
    }



    .buttons {
        padding: 0.5rem;
        border: 0.2rem solid black;
        margin-top: 1rem;

    }





    /* ------home widge------------ */

    .home_widge {
        background-image: url(../images/bg.jpg);
        height: 26rem;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }


    .layer {
        position: relative;
        /* background: rgba(0, 255, 4, 0.2); */
        background: rgba(43, 40, 40, 0.2);
        height: 26rem;
        padding-bottom: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }



    .tym {
        margin: 8rem 0rem 0rem -16rem;
        justify-content: center;
        align-items: center;
    }



    .home_btn {
        margin: 16rem 0rem 0rem -10rem;
        padding: 0.5rem;
        border: 0.2rem solid rgb(255, 255, 255);
        background: transparent;
        color: white;
        font-weight: bold;

    }



    .section2 {
        display: flex;
        justify-content: space-around;
        height: auto;
        width: 95%;
    }

    .home_child img {
        height: 30rem;
        margin: 1rem 4rem 8rem -24rem;
    }


    .home_child {
        margin-left: 1rem;
        align-items: center;

    }


    .home2 {
        height: 30rem;
        border: 0.3rem solid rgb(0, 0, 0);
        /* width: 70%;
        margin: 4.5rem 0rem 0rem 20rem; */
        width: 190%;
        margin: 4.5rem 0rem 0rem 6rem;
    }


    .section3 {
        height: auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin: 5rem 0rem 5rem 0rem;
    }


    .circle img {
        height: 100%;
        width: 50%;
        margin: 0rem 0rem 5rem 5rem;
        border-radius: 50%;
    }




    /* --------------------ABOUT PAGE START ------------------------------ */
    /* --------------------------------------------------------------- */

    .about_page {
        text-align: center;
        padding-bottom: 200px;
    }

    .secction_history {
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        margin-top: 4rem;
    }

    .history img {
        height: 20rem;
        width: 20rem;
        margin-bottom: 1rem;
    }

    .history {
        margin-bottom: 2rem;
    }




    .section_menu {
        height: auto;
        flex-wrap: wrap;
        /* margin-top: 4rem; 
        margin-bottom: 4rem; */
        margin: 4rem;
        flex-wrap: wrap;
    }

    .menu {
        color: white;
        text-align: center;
        /* margin-top: -65%; */
        margin-top: -80%;
    }


    .section_menu img {
        height: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 1rem;
    }


    .contact {
        height: auto;
        margin: 1rem;
        display: flex;
        justify-content: center;
        width: auto;
        flex-wrap: wrap;
    }

    .contact img {
        height: 100%;
        width: 100%;
        margin: 4rem 0rem 2rem 0rem;
        height: 28rem;
    }



    .section_gallery {
        height: 100%;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .gallery {
        position: relative;
        padding: 10px 10px;
    }

    .gallery_content {
        position: absolute;
        display: none;
        top: 30%;
        left: 30%;
    }

    .gallery img {
        width: 100%;
    }

    .gallery:hover  {
        border: 0.1rem solid rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
    }

    .gallery:hover .gallery_content {
        padding: 5px;
        display: block;
       /* color: #bc8d4b; */
    }


    .map {
        margin: 4rem;
    }



    /* ---------footer--------- */
    .footer {
        height: auto;
        background-color: black;
        /* color: #000000; */
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: space-around;
        color: #ffffff;
    }

    .footer_child {
        padding: 1rem;
    }

    .copyright {
        text-align: center;
        padding: 0.6rem;
        background-color: #000000;
        color: white;
    }


}



/* ----------phone */
@media ((min-width:05px) and (max-width:500px)) {
    .slider_content {
        text-align: center;
        margin-bottom: 160px;
    }


    .btn {
        padding: 8px;
        color: white;
        border: 5px solid white;
    }

    .btn:hover {
        background-color: #bc8d4b;
        border: 5px solid #bc8d4b;
    }

    .heading {
        font-weight: bold;
    }

    .headings {
        font-weight: bold;
        font-size: 2.6rem;
        text-decoration: double;
        text-decoration: underline;
        margin: 1rem 0rem 1.6rem 0rem;
    }


    .section {
        background-color: #f4f4f4;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
    }




    /* ------------- ABOUT SECTION ------------ */

    .section_about {
        display: flex;
        justify-content: center;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 6rem;
    }

    .aboutimage {
        margin-bottom: 6rem;
    }

    .about_inner {
        height: auto;
        width: 100%;
        margin: 2rem 0rem 0rem 3rem;
    }


    .about_image {
        height: 60%;
        width: 60%;
        position: absolute;
        padding-bottom: 50%;
    }

    .about_image2 {
        height: 60%;
        width: 60%;
    }



    .buttons {
        padding: 0.5rem;
        border: 0.2rem solid black;
        margin-top: 1rem;

    }





    /* ------home widge------------ */

    .home_widge {
        background-image: url(../images/bg.jpg);
        height: 26rem;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        /* margin-top: 16rem; */
    }


    .layer {
        position: relative;
        /* background: rgba(0, 255, 4, 0.2); */
        background: rgba(43, 40, 40, 0.2);
        height: 26rem;
        padding-bottom: 8rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }



    .tym {
        margin: 8rem 0rem 0rem -16rem;
        justify-content: center;
        align-items: center;
    }



    .home_btn {
        margin: 16rem 0rem 0rem -10rem;
        padding: 0.5rem;
        border: 0.2rem solid rgb(255, 255, 255);
        background: transparent;
        color: white;
        font-weight: bold;

    }



    .section2 {
        display: flex;
        justify-content: space-around;
        height: auto;
        width: 95%;
        flex-wrap: wrap;

    }

    .home_child img {
        height: 30rem;
        margin: -30rem -1rem 2rem 0rem;
    }


    .wine {
        margin-bottom: 4rem;
    }

    .home2 {
        height: 24rem;
        border: 0.3rem solid rgb(0, 0, 0);
        width: 25%;
        margin: 8rem 0rem 0rem 0rem;

    }


    .section3 {
        height: auto;
        width: 90%;
        display: flex;
        justify-content: space-around;
        margin: 5rem 0rem 5rem 0rem;
        flex-wrap: wrap;
        align-items: center;
    }


    .circle img {
        height: 100%;
        width: 100%;
        margin: 0rem 0rem 0rem 1rem;
        border-radius: 50%;
    }


    /* --------------------ABOUT PAGE START ------------------------------ */
    /* --------------------------------------------------------------- */

    .about_page {
        text-align: center;
        padding-bottom: 200px;
    }

    .secction_history {
        display: flex;
        justify-content: space-around;
        height: auto;
        flex-wrap: wrap;
        margin-bottom: 5rem;
        margin-top: 4rem;
    }

    .history img {
        height: 20rem;
        width: 20rem;
        margin-bottom: 1rem;
    }

    .history {
        margin-bottom: 2rem;
    }


    .section_menu {
        height: auto;
        flex-wrap: wrap;
        margin: 3rem;
        flex-wrap: wrap;
    }

    .menu {
        color: rgb(0, 0, 0);
        text-align: center;
    }

    .content {
        height: 100%;
        width: 100%;
        margin-bottom: 1rem;
    }

    .section_menu img {
        height: 60%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 1rem;
    }



    .section_reservation .col-sm-4 {
        margin-bottom: 1rem;
    }

    .contact {
        height: auto;
        margin: 1rem;
        display: flex;
        justify-content: center;
        width: auto;
        flex-wrap: wrap;
    }

    .name {
        margin-bottom: 1rem;
    }

    .contact img {
        height: 100%;
        width: 100%;
        margin: 4rem 0rem 2rem 0rem;
        height: 28rem;
    }



    .section_gallery {
        height: 100%;
        width: 100%;
        margin: auto;
        justify-content: center;
        align-items: flex-start;
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .gallery {
        position: relative;
        padding: 10px 10px;
    }

    .gallery_content {
        position: absolute;
        display: none;
        top: 30%;
        left: 30%;
    }

    .gallery img {
        width: 100%;
    }

    .gallery:hover  {
        border: 0.1rem solid rgb(0, 0, 0);
        text-align: center;
        padding: 5px;
    }

    .gallery:hover .gallery_content {
        padding: 5px;
        display: block;
       /* color: #bc8d4b; */
    }


    .map {
        margin: 4rem;
    }



    /* ---------footer--------- */
    .footer {
        height: auto;
        background-color: black;
        /* color: #000000; */
        display: flex;
        justify-items: center;
        width: 100%;
        padding: 4rem;
        color: #ffffff;
        flex-wrap: wrap;
    }



    .copyright {
        text-align: center;
        padding: 0.6rem;
        background-color: #000000;
        color: white;
    }


}